<form action="" (submit)="submit()">
	<div>
		<label for="">Wartość miesiecznego przychodu</label>
		<input type="number" #income>

		<label for="">Miesieczny koszt kredytu</label>
		<input type="number" #credit>

		<label for="">Miesieczny koszt czynszu</label>
		<input type="number" #rent>
		
		<label for="">Miesieczny koszt zakupów</label>
		<input type="number" #shop>

		<label for="">Miesieczny koszt transportu i paliwa</label>
		<input type="number" #car>
	</div>
	<input type="submit" value="SEND">
</form>