.box {
    .box-container {
        // display: flex;
        // width: 100%;
        padding: 1rem;
        background-color: #f8f8f8;
        form {
            flex-direction: row;
            .box-group {
                margin: 1rem;
                // display: flex;
                // justify-content: center;
                // flex-direction: column;
            }
        }
    }
} 