{{msg}}
<div class="box">
    <h2>
        Podsumowanie:
    </h2>
    <div class="box-container">
        <p>Przychód: {{income}}</p>
        <p>Kredyt: {{credit}}</p>
        <p>Czynsz: {{rent}}</p>
        <p>Transport/Paliwo: {{car}}</p>
        <p>Zakupy: {{shop}}</p>
    </div>
    <h2>
        Nowa płatność: 
    </h2>
    <div class="box-container">
        <form action="" (submit)="addPayment()">
            <div class="box-group">
                <label for="date">Data</label>
                <input type="date" name="date" id="date" #date>
            </div>
            <div class="box-group">
                <label for="payout">Tytul platnosci</label>
                <input type="text" name="payout" id="payout" #payout>
            </div>
            <div class="box-group">
                <label for="price">Kwota</label>
                <input type="number" name="price" id="price" #price>
            </div>
            <div class="box-group">
                <label for="price">Kategoria</label>
                <select name="" id="" >
                    <option value="" *ngFor="let category of categoryList">{{category}}</option>
                </select>
            </div>
            <input type="submit" value="Send">
        </form>
    </div>
    <h2>
        Płatności:
    </h2>
    {{payment}}
    
    <h2>
        Nowa kategoria: 
    </h2>
    <div class="box-container">
        <form action="" (submit)="categoryAdd()">
            <div class="box-group">
                <label for="category">Nazwa kategorii</label>
                <input type="text" name="category" id="category" #category>
            </div>
            <input type="submit" value="Send">
        </form>
    </div>
    {{categoryList}}
</div>