/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            label {
                margin: 2rem 0 .5rem 0;
            }
        }
    }
}